.chatheader
  .chatheader__contents
    .chatheader__contents__groupname
      = @group.name
    .chatheader__contents__member
      Menber:
      - @group.users.each do |user|
        = user.name
    .chatheader__contents__right
      = link_to edit_group_path(@group)  do
        Edit
  
.chatmessage
  = render @messages

.chatform
  .chatform__contents
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: "chatform__contents__message", placeholder: "type a message"
      = f.label :image, class: 'chatform__contents__message__image' do
        = icon('fas', 'image fa-2x')
        = f.file_field :image, class: 'chatform__contents__message--hidden'
      = f.submit 'Send', class: 'chatform__contents__form'
    